apiVersion: v1
kind: Secret
metadata:
  name: directus-secret
  namespace: tunenumbers
type: Opaque
data:
  ADMIN_EMAIL: {{ directus_admin_email | b64encode }}
  ADMIN_PASSWORD: {{ directus_admin_password | b64encode }}
  SECRET: {{ directus_secret | b64encode }}
  DB_PASSWORD: {{ pg_password | b64encode }}
  STORAGE_S3_KEY: {{ minio_root_user | b64encode }}
  STORAGE_S3_SECRET: {{ minio_root_password | b64encode }}
