apiVersion: v1
kind: Secret
metadata:
  name: umami-secret
  namespace: tunenumbers
type: Opaque
data:
  DATABASE_URL: {{ ("postgresql://umami:" + umami_db_password + "@postgresql:5432/umami") | b64encode }}
  APP_SECRET: {{ umami_app_secret | b64encode }}
