---
# Kopiere nach secrets.yml und setze echte Werte.
# secrets.yml wird NICHT committed (.gitignore).
# In GitHub Actions werden diese aus GitHub Secrets generiert.
letsencrypt_email: "your-email@example.com"
pg_password: "CHANGE_ME"
minio_root_user: "CHANGE_ME"
minio_root_password: "CHANGE_ME"
directus_admin_email: "admin@example.com"
directus_admin_password: "CHANGE_ME"
directus_secret: "CHANGE_ME_LONG_RANDOM_STRING"
gitea_admin_user: "tunenumbers"
gitea_admin_password: "CHANGE_ME"
gitea_admin_email: "admin@example.com"
